<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

<div id="batata">
    <p>ASSISTA A CERIMÔNIA DE CASAMENTO PELO ZOOM, COM TRANSMISSÃO AO VIVO</p>
    <span class="material-symbols-outlined">videocam</span>
    <p id="pa">SENHA DE ACESSO: 407330</p>
</div>

<style>
    div#batata {
        display: block;
        width: 80%;
        background-color: rgb(226, 247, 255);
        color:  rgb(0, 38, 56);
        box-sizing: border-box;
        padding: 10px;
        border-radius: 50px;
        text-align: center;
        margin: auto;
    }

    div#batata > span {
        background-color: rgb(0, 42, 54);
        color: white;
        padding: 10px;
        border-radius: 50%;
        text-align: left;
        font-size: 20px;

    }

    div#batata > p#pa {
        text-align: center;
    }

    div.banner hide-on-large {
        width: 50%;
        margin: 0;
        display: flex;
    }
</style>